body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 12px;
}

header {
    background: #835e0f;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.messages {
    list-style: none;
    padding: 0;
    color: green;
}

div{
    
    padding: 50;
    text-align: left;
}
